{
    "swagger": "2.0",
    "info": {
        "title": "Spice API V2",
        "description": "This API was developped to interract with webssites Spice. The service is available on the domain that will be given to you (example: api.jetsetrdv.com).<br/><br/> <b>***********************</b><br /><b>*** IMPORTANT ***</b><br /><b>***********************</b><br />The use of API is possible only if you enter an  <b>API KEY</b>, for further information please look at Annex  <b>4 - Use of API for developpers</b>.<br /><b>***********************</b> <br /><br /><b><u> Authentication :</u></b><br/>To use api_key and pass correctly, you need to send this informations directly on the header of the call (Not in GET or POST) : <br /> <u>Hearder : </u> Authorization: Basic API_KEY:PASSWORD <br />Please take care that the password <b>is not required on every call but only when you call API Server To Server</b> (function with ***). <b>The password will refused if you call API directly with Ajax.</b>      <br /><br /><b><u> Authentication for AJAX Call :</u></b><br/>When you function with ajax_api (at the place of index_api), you need to send the API_KEY directly in GET (or POST) of the function and NOT in Header ! <br />     <br /><br /><b><u> ANNEX :</u></b><br/>                <b>1) How to display photos of album ?</b><br>The Array containing all picture of the member is return by the function <b>\"user\"</b> at the index <b>\"tab_photo\"</b>.<br>This array have some key which are the different format of the picture (sqsmall, sqmiddle, real_size), and the value of this keys are the url of the picture.<br /><br />                <b>2) How to display photo main ?</b><br />In the array containing all pictures of the member, you can find the index <b>\"main_photo\"</b> with informations about the main picture. The format is the same like on Annex 1)<br /><br />                 <b>3) Different Actions of Website Activities :</b><br /><b>- \"con\" :</b> A contact (or a friend) was connected.<br /> <b>- \"visite\" :</b> a member has visited the profil of the connected user.<br /><b>- \"vote\" :</b> a member has voted for one picture of the connected user.<br /><b>- \"modif\" :</b> a contact (or a friend) has modified his profil.<br > <b>- \"add_tof\" :</b> a contact (or a friend) has added pictures on his profil.<br /><br />                        <b>4) Use of API for developpers</b><br />To use the API, we need replace the domain by the domain that we gave to you !<br />You need obsolutely add into the URL, the <b>Requiered parameter \"api_key\"</b> (This parameter si given to you like the good Domain to use)<br /><br />                        <b>5) CGU / CGU / Term Of Use</b><br /> To print Term of Use of the Website (or the Application), you need use the next link :<br />https://api.jetsetrdv.com/index_api/cgu?api_key=*******<br />For Legal mentions, you need use : https://api.jetsetrdv.com/index_api/informations?api_key=******.<br /> For Ethics Charter, you need use : https://api.jetsetrdv.com/index_api/charte_ethique?api_key=******.<br /> For Notice on Information Technologies and Freedoms, you need use : https://api.jetsetrdv.com/index_api/mentions_infos_libertes?api_key=******.<br /><br />                <b>6) Print of configuration Arrays:</b><br /> To print the arrays of configuration (like for sample the array \"CHEVEUX\" which contains the different colors of hair), you need use an URL like that : <br />https://api.jetsetrdv.com/index_api/array/get/SEXE?api_key=******<br />https://api.jetsetrdv.com/index_api/array/get/CHEVEUX?api_key=****** <br /><br />",
        "version": "3.0.0"
    },
    "host": "api.jetsetrdv.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/index_api/params": {
            "post": {
                "summary": "Parameters of the application",
                "description": "This function returns all the parameters you need into your application",
                "parameters": [
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP V4 Address of the client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "track",
                        "in": "query",
                        "description": "specified track - can be blank",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "transaction_id",
                        "in": "query",
                        "description": "specified transaction_id - can be blank",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "referer",
                        "in": "query",
                        "description": "The client's browser referer - can be blank",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "The keywords parameter getting from URL - can be blank",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "get params***"
                ],
                "responses": {
                    "200": {
                        "description": "Return an array with all params",
                        "schema": {
                            "$ref": "#/definitions/InfosParams"
                        }
                    }
                }
            }
        },
        "/index_api/index": {
            "get": {
                "summary": "Information about the site",
                "description": "This function returns the information about the site (number of connected users, Meta Title....)  ",
                "tags": [
                    "index"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne un tableau d'information à propos du site",
                        "schema": {
                            "$ref": "#/definitions/InfosSite"
                        }
                    }
                }
            }
        },
        "/index_api/landing_module/profils_global": {
            "post": {
                "summary": "Get array with real profiles to print on the Landing Page",
                "description": "",
                "tags": [
                    "get profiles information to print some users on the Landing Page"
                ],
                "parameters": [
                    {
                        "name": "force_pays",
                        "in": "query",
                        "description": "ID of Country that you want to force for getting profiles of the good Country [French : 64, Spain : 28, Italy: 29, USA: 55, Deutch: 18, UK: 13, Ireland: 27]",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return the array \"get_profils_global\" containing some profiles. Every profils have a : id, pseudo, sexe1, age, city, .. and some photo url"
                    }
                }
            }
        },
        "/index_api/array/get/SEXE": {
            "get": {
                "summary": "Returns the table of variables of the parameter passed in the url",
                "description": "This function returns the data presented in configuration tables which have the index corresponding of the parameter passed in the url.<br><br>You can replace \"SEXE\" by one of this array name :<br>- SEXE : Gender of the person <br>- SEXE2 : Sexuel preferences (ex : hetero) <br>- POUR : Type of dating user is looking for (ex: friend dating) <br>- YEUX : Eyes color <br>- CHEVEUX : Hair color <br>- SITUATION : Marital status (ex : Single) <br>- FUMEUR : Smoker or not smoker (ex: occasional smoker, not smoker...) <br>- ALLURE : Clothing style (ex : punk) <br>- HORAIRES : Availiability hours (ex : In the morning) <br>- SILHOUETTE : Body morthology (ex : thin)  <br>- PERSONNALITE : Caracter (ex : Dynamic) <br>- MOIS : List of months of the year <br>- JOURS : List of days of the year <br>- FORMULE : Plan of subscription (ex : discovery, freedom) <br>- MOODS : Smileys <br>- ETUDES : Education level <br>- TRAVAIL : Job <br>- ZONE : Geographical zone <br>- ZONE2CITY : blabla <br>- AGE_RANGE : age group user is looking for classified by id (ex : id 3 => de 18 à 25 ans, from 18 till 25 years) <br>- MEET_FOR : type of meeting user is looking for (ex: take a cup of coffee) <br>- OPTIONS_BODY : psysical feature classified by id (ex : 1 => Piercing, 2 => Tattoo)  <br>- OFTEN_SEXE : frequence of having sex classified by id (ex : 1 => 2 or 3 times per day) <br>- user_interests : sexual practices (ex : Sex hard) <br>- gifts : table of the gifts with id of the gift as a key and the cost of the gift as a value (ex : 1 => array('credit' => 5))",
                "tags": [
                    "get Array"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ResultArray"
                        }
                    }
                }
            }
        },
        "/index_api/ads/get/list": {
            "get": {
                "deprecated": true,
                "summary": "Allows to get back the information of all the classified ads of the site",
                "description": "This function gets back all the informations of classified ads posted on the site",
                "tags": [
                    "get all ads"
                ],
                "responses": {
                    "200": {
                        "description": "An array containing the information of every classified ads",
                        "schema": {
                            "$ref": "#/definitions/ResultAdsList"
                        }
                    }
                }
            }
        },
        "/index_api/ads/get/read": {
            "post": {
                "deprecated": true,
                "summary": "Allows to get back the information of one classified ad",
                "description": "This function gets back all the informations of a classified ad posted on the site",
                "parameters": [
                    {
                        "name": "id_ad",
                        "in": "query",
                        "description": "id of the classified ad",
                        "required": true,
                        "type": "number"
                    }
                ],
                "tags": [
                    "get one ad"
                ],
                "responses": {
                    "200": {
                        "description": "An array containing the information of a classified ad",
                        "schema": {
                            "$ref": "#/definitions/ResultAdsRead"
                        }
                    }
                }
            }
        },
        "/index_api/ads/get/search_ad": {
            "get": {
                "deprecated": true,
                "summary": "Allows to search classified ad(s)",
                "description": "This function gets back classified ad(s) in relation with parameters given by the user. 3 search mods one by pseudo or one by keywords or advanced. If an advanced search is desired, parameter \"advanced=1\" is require and you can put the parameters below : recherche or id_ville or photo",
                "parameters": [
                    {
                        "name": "pseudo",
                        "in": "query",
                        "description": "pseudo of the user who has posted the ad",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Api key given to the developper",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Api key given to the developper",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "recherche",
                        "in": "query",
                        "description": "sought sex by the user",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "id_ville",
                        "in": "query",
                        "description": "location of the user's ad desired",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "photo",
                        "in": "query",
                        "description": "equal to 1 if the user wants only ads with pictures, 0 else",
                        "required": false,
                        "type": "number"
                    }
                ],
                "tags": [
                    "get searched ad(s)"
                ],
                "responses": {
                    "200": {
                        "description": "An array containing the information of one or more classified ad",
                        "schema": {
                            "$ref": "#/definitions/ResultAdsSearch"
                        }
                    }
                }
            }
        },
        "/index_api/ads/get/create_ad": {
            "get": {
                "deprecated": true,
                "summary": "Allows to create a classified ad",
                "description": "This function allows to create a new ad on the web site.",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Api key given to the developper",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pseudo",
                        "in": "query",
                        "description": "pseudo of the user who has posted the ad",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "titre",
                        "in": "query",
                        "description": "title of the ad",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "texte",
                        "in": "query",
                        "description": "text of the ad",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sexe",
                        "in": "query",
                        "description": "sex of the user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "recherche",
                        "in": "query",
                        "description": "sought sex by the user",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "id_ville",
                        "in": "query",
                        "description": "location of the user",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "photo",
                        "in": "query",
                        "description": "equal to 1 if the user puts a pictures in his ad, 0 else",
                        "required": false,
                        "type": "number"
                    }
                ],
                "tags": [
                    "get create ad"
                ],
                "responses": {
                    "200": {
                        "description": "An array containing \"ad created\" if the ad is create, \"ad not created\" else.",
                        "schema": {
                            "$ref": "#/definitions/ResultAdsCreate"
                        }
                    }
                }
            }
        },
        "/index_api/ads/get/management_update": {
            "get": {
                "deprecated": true,
                "summary": "Allows the user to modify the management section of a classified ad",
                "description": "This function allows to modify the management section of a classified ad on the web site.",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Api key given to the developper",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_ad",
                        "in": "query",
                        "description": "ID of the classified ad",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "visited",
                        "in": "query",
                        "description": "total number of time the ad has been visited",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "actions",
                        "in": "query",
                        "description": "action (activated (1) / desactivated (0)) that the user wants to apply to these classified ads",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "status of the ad given by the moderation (validated (1) / waiting moderation (0))",
                        "required": false,
                        "type": "number"
                    }
                ],
                "tags": [
                    "get management update ad"
                ],
                "responses": {
                    "200": {
                        "description": "An array containing the result of the update",
                        "schema": {
                            "$ref": "#/definitions/ResultAdsManagementUpdate"
                        }
                    }
                }
            }
        },
        "/index_api/ads/get/user_manage_ads": {
            "get": {
                "deprecated": true,
                "summary": "Allows the user to see all his classified ads on the management section",
                "description": "This function allows the user to see all his classified ads on the management section of the web site.",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Api key given to the developper",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session id of the user",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "get management user ads"
                ],
                "responses": {
                    "200": {
                        "description": "An array containing all the classified ads of the user ",
                        "schema": {
                            "$ref": "#/definitions/ResultAdsSearch"
                        }
                    }
                }
            }
        },
        "/index_api/ads/get/user_manage_up_ad": {
            "get": {
                "deprecated": true,
                "summary": "Allows the user to update a classified ad on the management section",
                "description": "This function allows the user to see and update one of his classified ad on the management section of the web site.",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Api key given to the developper",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_ad",
                        "in": "query",
                        "description": "tId of the ad",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "titre",
                        "in": "query",
                        "description": "title of the ad",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "texte",
                        "in": "query",
                        "description": "text of the ad",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id_ville",
                        "in": "query",
                        "description": "location of the user",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "photo",
                        "in": "query",
                        "description": "equal to 1 if the user puts a pictures in his ad, 0 else",
                        "required": false,
                        "type": "number"
                    }
                ],
                "tags": [
                    "get management update ad by user"
                ],
                "responses": {
                    "200": {
                        "description": "An array containing all the classified ads of the user ",
                        "schema": {
                            "$ref": "#/definitions/ResultManagementUpdateAdByUser"
                        }
                    }
                }
            }
        },
        "/index_api/booster_msg": {
            "get": {
                "deprecated": true,
                "summary": "Function to call to activate booster messages",
                "description": "This function add a determinated number of messages to a user if the user puts a note to the application on the webstore",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "Api key given to the developper",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "Session ID of the user",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "set booster msg"
                ],
                "responses": {
                    "200": {
                        "description": "Return in the key 'result' the result or null if there is an error, in the key 'error_label' the error and in the key 'error' : 0 or 1",
                        "schema": {
                            "$ref": "#/definitions/ResultBoosterMsg"
                        }
                    }
                }
            }
        },
        "/index_api/get_pubs_infos": {
            "get": {
                "summary": "Function to get the pubs informations ( json )",
                "description": "This function return a json object with all the informations to display the pubs",
                "tags": [
                    "get pubs informations"
                ],
                "responses": {
                    "200": {
                        "description": "Return in the key 'result' the json object or null if there is an error, in the key 'error_label' the error and in the key 'error' : 0 or 1",
                        "schema": {
                            "$ref": "#/definitions/ResultGetPubsInfos"
                        }
                    }
                }
            }
        },
        "/index_api/landing_module": {
            "post": {
                "summary": "Function to get all informations ( json ) for the new landing module ( global profiles, config site and landing parameters, etc...)",
                "description": "This function return a json object with all the informations for the new landing module",
                "parameters": [
                    {
                        "name": "action_bis",
                        "in": "query",
                        "description": "return the informations of the desired action ( profils_global for example )",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "load_config",
                        "in": "query",
                        "description": "Permit to load the configuration of the site and the landing. Put 1 to use it ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "needed for the load_config parameter. To load the good config files ",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "get landing module informations"
                ],
                "responses": {
                    "200": {
                        "description": "Return in the key 'result' the json object or null if there is an error, in the key 'error_label' the error and in the key 'error' : 0 or 1",
                        "schema": {
                            "$ref": "#/definitions/ResultLandingModule"
                        }
                    }
                }
            }
        },
        "/index_api/login": {
            "post": {
                "summary": "Verifies the login and pass and create a session",
                "description": "This function verifies if the login and pass given in parameter are correct and returns the ID of the session is everything is correct, if not - returns an empty ID.",
                "parameters": [
                    {
                        "name": "login",
                        "in": "query",
                        "description": "Nickname of the user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pass",
                        "in": "query",
                        "description": "Pass OR Token of the user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mailtoken",
                        "in": "query",
                        "description": "Token that you can get in the URL's params (by using $_GET)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "track2",
                        "in": "query",
                        "description": "The 'track2' param that you can get in the URL's params (by using $_GET)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "token_login",
                        "in": "query",
                        "description": "token login of the user used to keep is connection cause of FB destroyed session",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "rememberme",
                        "in": "query",
                        "description": "Put 1 if you need send the password in MD5 encryption",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Send the Application version. For iOs/Android, you need send the build number",
                        "required": false,
                        "type": "number"
                    }
                ],
                "tags": [
                    "login"
                ],
                "responses": {
                    "200": {
                        "description": "An array to know if the user is well connected. This array contain the session ID you'll need on the other functions.\n\n If you need to login one user and redirict him to another domain\n(keeping his session), you can use this redirection's url : https://DOMAIN_TO_REDIRECT/index.php?get_session=SESSION_ID_YOU_GET .",
                        "schema": {
                            "$ref": "#/definitions/ResultLogin"
                        }
                    }
                }
            }
        },
        "/index_api/lostpass": {
            "post": {
                "summary": "Permet de récupérer le mot de passe perdu.",
                "description": "Cette fonction vérifie si le pseudo ou l'adresse mail fournis est bien associé à un compte. Si oui, un rappel de mot de passe sera envoyé à cette adresse mail.",
                "parameters": [
                    {
                        "name": "email_pseudo",
                        "in": "query",
                        "description": "Pseudo OU adresse mail de l'utilisateur.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "lostpass"
                ],
                "responses": {
                    "200": {
                        "description": "Un tableau qui confirme (ou non) l'envoie de mot de passe par mail. Si \"error=1\", alors l'envoie de mot de passe n'a pas fonctionné car le compte n'existe pas.",
                        "schema": {
                            "$ref": "#/definitions/ResultLostpass"
                        }
                    }
                }
            }
        },
        "/index_api/changepass": {
            "post": {
                "summary": "Permit to change the user's password.",
                "description": "This function is used to change the user's password after he receive an email.",
                "parameters": [
                    {
                        "name": "pseudo",
                        "in": "query",
                        "description": "User's pseudo (you can get it on GET variable).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "User's token (you can get it on GET variable).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mdp_new1",
                        "in": "query",
                        "description": "New user's password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mdp_new2",
                        "in": "query",
                        "description": "Confirmation of new user's password. Need to be the same like mdp_new1",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "changepass"
                ],
                "responses": {
                    "200": {
                        "description": "An array with information to know if this function works well or if there was some errors.",
                        "schema": {
                            "$ref": "#/definitions/ResultChangepass"
                        }
                    }
                }
            }
        },
        "/index_api/logout": {
            "post": {
                "summary": "Déconnecte un utilisateur",
                "description": "Cette fonction déconnecte un utilisateur si le session_id existe",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "Session id de l'utilisateur",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "logout"
                ],
                "responses": {
                    "200": {
                        "description": "Un tableau qui confirme que l'utilisateur est déconnecté",
                        "schema": {
                            "$ref": "#/definitions/ResultLogout"
                        }
                    }
                }
            }
        },
        "/index_api/push_notify/set_device_token": {
            "post": {
                "summary": "Permite to send the device token of the smartphone to allow to send notification Push",
                "description": "This action will save the device token in the database. This token permit us to send notification Push",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function \"login\".",
                        "required": true
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "The device Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "set Device Token"
                ],
                "responses": {
                    "200": {
                        "description": "Return informations like 'error' (true/false) to know if the call has worked."
                    }
                }
            }
        },
        "/index_api/mailing": {
            "post": {
                "summary": "Activate or not the newsletter",
                "description": "This function permits to activate or desactivate the newsletter",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "User session id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pseudo",
                        "in": "query",
                        "description": "User pseudo",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pass",
                        "in": "query",
                        "description": "User password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mails_alertes",
                        "in": "query",
                        "description": "1 if the user wants the news",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "mails_commerciaux",
                        "in": "query",
                        "description": "1 if the user wants to receive marketing emails",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "confirmer",
                        "in": "query",
                        "description": "1 if it's confirmed else 0",
                        "required": true,
                        "type": "number"
                    }
                ],
                "tags": [
                    "Newsletter"
                ],
                "responses": {
                    "200": {
                        "description": "Returns if the call of the function is successful or not and the message associated",
                        "schema": {
                            "$ref": "#/definitions/ResultMailing"
                        }
                    }
                }
            }
        },
        "/index_api/albums": {
            "post": {
                "summary": "Photo albums",
                "description": "To use this function to display the member's photos searching by tag",
                "tags": [
                    "albums"
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "ID session returned by the function «login» ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tag_ref",
                        "in": "query",
                        "description": "Tag of the photo searched",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "type": "number",
                        "format": "double",
                        "description": "Filter by gender (1 => male, 2 => female, 3 => couple).."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "number",
                        "description": "Selected page ( 0 is the first page, 1 is the second page, ...)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retourne un tableau contenant une liste de tags (si tag_ref n'est pas donné), sinon retourne une liste de membres dont la photo correspond aux paramètres donnés",
                        "schema": {
                            "$ref": "#/definitions/ResultAlbums"
                        }
                    }
                }
            }
        },
        "/index_api/subscribe": {
            "post": {
                "summary": "Sign up function (registration)",
                "description": "Allows to register a new user",
                "tags": [
                    "Registration"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "query",
                        "description": "Login (nickname) choosen by the new user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pass",
                        "in": "query",
                        "description": "Pass chosen by the new user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "email address of the new user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fast-part",
                        "in": "query",
                        "description": "On fast-registration, you need to send this field with value '1'. In this case, next field are not required. Only, 'login', 'pass' and 'mail' are requiered in fast-registration.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "Gender of the new user (1 => male, 2 => female, 3 => couple).",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "cherche1",
                        "in": "query",
                        "description": "Gender of the partner searched (1 => male, 2 => female, 3 => couple).",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "year of birth of the new user.",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "description": "month of birth of the new user",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "day",
                        "in": "query",
                        "description": "day of birth of the new user",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "birthday_date",
                        "in": "query",
                        "description": "date of birth of the new user. Can be used at the place of 'year', 'month' and 'day'. The format requiered is : 'year-month-day' (sample : '2000-12-31').",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ip_adress",
                        "in": "query",
                        "description": " IP address of the new user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "ID of the new user's city (use the function «getRegionsAutocomp» for getting the ID of the city, region and country) ",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "ID of the new user's region",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "countryObj",
                        "in": "query",
                        "description": "ID of the new user's country",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "track",
                        "in": "query",
                        "description": "Optionnal parameter to link one user at one tracker",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "transaction_id",
                        "in": "query",
                        "description": "Optionnal parameter to link one user at one transaction_id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fb_access_token",
                        "in": "query",
                        "description": "The Facebook Access Token. This parameter is required in the case where the user is creating an account from a Facebook account !!!",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Send the Application version. For iOs/Android, you need send the build number",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "lang_ui",
                        "in": "query",
                        "description": "lang of the user",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "browser",
                        "in": "query",
                        "description": "User agent of the browser - need to be sent with url encode. Required only if you call this function from server (like CURL). It's not necessary on Ajax request.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Confirm if the subscription worked or not. This array contain the session ID you'll need on the other functions.\n\n If you need to redirict the user to another domain (keeping his\nsession) and print the Confirmation page, you can use this redirection's url : https://DOMAIN_TO_REDIRECT/Confirmation.html?get_session=SESSION_ID_YOU_GET .\n\n Please take care : if you are working on a fast registration Form (so you sent the param fast-part=1 to this funciton), you need to redirect the user to a different Confirmation page ==> https://DOMAIN_TO_REDIRECT/Confirmation_eclair.html?get_session=SESSION_ID_YOU_GET",
                        "schema": {
                            "$ref": "#/definitions/ResultSubscribe"
                        }
                    }
                }
            }
        },
        "/index_api/confirmation_eclair": {
            "post": {
                "summary": "Second step of Sign up function (fast registration)",
                "description": "Allows to register a new user (last step of fast registration)",
                "tags": [
                    "Fast Registration - 2nd step"
                ],
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «Registration» (index_api/subscribe) ",
                        "required": true
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "Gender of the new user (1 => male, 2 => female, 3 => couple).",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "cherche1",
                        "in": "query",
                        "description": "Gender of the partner searched (1 => male, 2 => female, 3 => couple).",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "year of birth of the new user.",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "description": "month of birth of the new user",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "day",
                        "in": "query",
                        "description": "day of birth of the new user",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "birthday_date",
                        "in": "query",
                        "description": "date of birth of the new user. Can be used at the place of 'year', 'month' and 'day'. The format requiered is : 'year-month-day' (sample : '2000-12-31').",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "ID of the new user's city (use the function «getRegionsAutocomp» for getting the ID of the city, region and country) ",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "ID of the new user's region",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "countryObj",
                        "in": "query",
                        "description": "ID of the new user's country",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Just send : 1",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Confirm if the subscription worked or not. This array contain the session ID you'll need on the other functions.\n\n If you need to redirict the user to another domain (keeping his\nsession) and print the Confirmation page, you can use this redirection's url : https://DOMAIN_TO_REDIRECT/Confirmation.html?get_session=SESSION_ID_YOU_GET .",
                        "schema": {
                            "$ref": "#/definitions/ResultFastRegistration"
                        }
                    }
                }
            }
        },
        "/index_api/classement": {
            "post": {
                "summary": "Function for the TOP Vote",
                "description": "Returns users randomly to get them a note (In order to send a note, use the function  \\gal_vote\\\" available in API )\"",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Filter by gender (1 => male, 2 => female, 3 => couple).."
                    }
                ],
                "tags": [
                    "top vote"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une liste de membres qui peuvent recevoir une note et une autre liste qui contient les derniers membres que l'utilisateur a notés",
                        "schema": {
                            "$ref": "#/definitions/ResultClassement"
                        }
                    }
                }
            }
        },
        "/index_api/topmembers": {
            "post": {
                "summary": "Function for the TOP Members",
                "description": "Returns the profils to display the ranking of TOP Members",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": false
                    },
                    {
                        "name": "sex",
                        "required": true,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Filter by gender (1 => male, 2 => female, 3 => couple).."
                    },
                    {
                        "name": "age_range",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "age group of searched partners. Format: ageFrom-ageTo ."
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Selected page (0 is first page, 1 is second page, ...)."
                    }
                ],
                "tags": [
                    "top membres"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne la liste de membres classés dans le TOP Membres",
                        "schema": {
                            "$ref": "#/definitions/ResultTopMembers"
                        }
                    }
                }
            }
        },
        "/index_api/search": {
            "post": {
                "summary": "Function for the search Members",
                "description": "Allows to search members by different criteria",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": false
                    },
                    {
                        "name": "sex",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Gender searched (1 => male, 2 => female, 3 => couple)."
                    },
                    {
                        "name": "orientation",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Sexual orientation of members searched (1 => hetero, 2 => gay, 3 => bi)."
                    },
                    {
                        "name": "id_ville",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Filter by ID of the city (to use the function «getRegionsAutocomp» for getting ID of the city, region, and country)."
                    },
                    {
                        "name": "region",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Filter by ID of the region."
                    },
                    {
                        "name": "countryObj",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Filter by ID of the country"
                    },
                    {
                        "name": "dist",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Distance in km. Allows to localize members in a zone defined by this distance",
                        "minimum": 0,
                        "maximum": 100
                    },
                    {
                        "name": "age_from",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Minimal age of searched members",
                        "minimum": 18,
                        "maximum": 99
                    },
                    {
                        "name": "age_to",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximal age of searched members",
                        "minimum": 18,
                        "maximum": 99
                    },
                    {
                        "name": "with_description",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "If it's equal to 1, only members with a description will be returned"
                    },
                    {
                        "name": "profile_complete",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "If it's equal to 1, the result will return in addition the description of members"
                    },
                    {
                        "name": "is_online",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Allows to search only members online (0 => search in all, 1 => only members online)"
                    },
                    {
                        "name": "is_photo",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Allows to search members with a photo (0 => search in all, 1 => only members with a photo)"
                    },
                    {
                        "name": "nom",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Search by name"
                    },
                    {
                        "name": "nick",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Search by username"
                    },
                    {
                        "name": "status",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Search by status"
                    },
                    {
                        "name": "eyes",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Eyes color searched (index corresponding to the table <a href=#YEUX>$YEUX</a> (see annex))"
                    },
                    {
                        "name": "hair",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Hair color searched (index corresponding to the table <a href=#CHEVEUX>$CHEVEUX</a> (see annex))"
                    },
                    {
                        "name": "taille_from",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Minimal height of members searched (in sm)",
                        "minimum": 100,
                        "maximum": 190
                    },
                    {
                        "name": "taille_to",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Maximal height of members searched (in sm)",
                        "minimum": 100,
                        "maximum": 220
                    },
                    {
                        "name": "poids_from",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Minimal weight of members searched (in kg) ",
                        "minimum": 50,
                        "maximum": 155
                    },
                    {
                        "name": "poids_to",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Maximal weight of members searched (in kg)",
                        "minimum": 50,
                        "maximum": 155
                    },
                    {
                        "name": "interest_sexuel",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Search by sexual preference (index corresponding to the table <a href=#interest_sexuel>$interest_sexuel</a> (see annex))",
                        "minimum": 50,
                        "maximum": 155
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "number",
                        "description": "Page sélectionnée ( 0 est la première page, 1 est la deuxième page, ...)."
                    },
                    {
                        "name": "pas",
                        "required": false,
                        "in": "query",
                        "type": "number",
                        "description": "Number of profil by page. Default value is 12 ; but you can request more than 12 profiles by page. "
                    },
                    {
                        "name": "get_picture_430",
                        "in": "query",
                        "type": "number",
                        "description": "If you send the value '1', you'll get in return another array named 'photos_v2' which contain a new version of the picture. In this array, if the user have pictures in 430 x 430px, you'll get the url of this pictures."
                    },
                    {
                        "name": "landings",
                        "in": "query",
                        "type": "number",
                        "description": "If you send the value '1', you'll get only member who are available to be shown on landings page."
                    },
                    {
                        "name": "searchAction",
                        "in": "query",
                        "type": "string",
                        "description": "If you send the value 'Last', you'll get lasts members."
                    }
                ],
                "tags": [
                    "recherche"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une liste de membres correspondant au résultat de la recherche",
                        "schema": {
                            "$ref": "#/definitions/ResultSearch"
                        }
                    }
                }
            }
        },
        "/index_api/user_edit_photos": {
            "post": {
                "summary": "Function to edit the photos",
                "description": "Allows to list the photos of connected user",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    }
                ],
                "tags": [
                    "photos utilisateur"
                ],
                "responses": {
                    "200": {
                        "description": "Return informations about the photos of connected user",
                        "schema": {
                            "$ref": "#/definitions/ResultListPhotos"
                        }
                    }
                }
            }
        },
        "/index_api/user_edit_photos/modify": {
            "post": {
                "summary": "Modify a photo",
                "description": "Allow to update, crop, revolve user's photos",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function \"login\".",
                        "required": true
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "type": "string",
                        "description": "Api key given to the developper",
                        "required": true
                    },
                    {
                        "name": "photo_num",
                        "in": "query",
                        "type": "number",
                        "description": "Photo's number",
                        "required": true
                    },
                    {
                        "name": "is_private",
                        "in": "query",
                        "type": "number",
                        "description": "Define if photo is private or not (1 => private, 0 => public). Be careful!!! if you change this parameter, the photo number will change too.",
                        "required": true
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "type": "number",
                        "description": "Horizontal position of the crop's origin (px). Required for cropping or when you upload a new photo",
                        "required": false
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "type": "number",
                        "description": "Vertical position of the crop's origin (px). Required for cropping or when you upload a new photo",
                        "required": false
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "type": "number",
                        "description": "Width of the crop (px). Required for cropping or when you upload a new photo",
                        "required": false,
                        "minimum": 215
                    },
                    {
                        "name": "h",
                        "in": "query",
                        "type": "number",
                        "description": "Height of the crop (px). Required for cropping or when you upload a new photo",
                        "required": false,
                        "minimum": 215
                    },
                    {
                        "name": "srcW",
                        "in": "query",
                        "type": "number",
                        "description": "Preview photo width (px). Not required",
                        "required": false
                    },
                    {
                        "name": "srcH",
                        "in": "query",
                        "type": "number",
                        "description": "Preview photo height (px). Not required" ,
                        "required": false
                    },
                    {
                        "name": "is_main",
                        "in": "query",
                        "type": "number",
                        "description": "If is_main=1, this photo is the main photo of the user's album",
                        "required": false
                    },
                    {
                        "name": "imgGradius",
                        "in": "query",
                        "type": "number",
                        "description": "Angle the rotation (Can be 90°, 180° or 270°)",
                        "required": false
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "type": "string",
                        "description": "Photo's description",
                        "required": false
                    }
                ],
                "tags": [
                    "Edit photos"
                ],
                "responses": {
                    "200": {
                        "description": "Confirmation if it works. Return all the user's photos",
                        "schema": {
                            "$ref": "#/definitions/ResultModifyPhotos"
                        }
                    }
                }
            }
        },
        "/index_api/user_edit_photos/del": {
            "post": {
                "summary": "Delete a photo",
                "description": "Allows to delete the photos of a connected user",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "photo_num",
                        "in": "query",
                        "type": "number",
                        "description": "number of the photo that must be deleted",
                        "required": true
                    }
                ],
                "tags": [
                    "supprimer photo"
                ],
                "responses": {
                    "200": {
                        "description": "Confirme la suppression  et retourne la nouvelle liste des photos de l'utilisateur",
                        "schema": {
                            "$ref": "#/definitions/ResultDelPhotos"
                        }
                    }
                }
            }
        },
        "/index_api/user": {
            "post": {
                "summary": "Member's profile data",
                "description": "Gets the data from user's profile",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": false
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "type": "number",
                        "description": "personal member's ID. Required if parameter \"pseudo\" not given.",
                        "required": true
                    },
                    {
                        "name": "pseudo",
                        "in": "query",
                        "type": "string",
                        "description": "Nickname ( = Login) of the member. Required if parameter \"id\" not given.",
                        "required": true
                    },
                    {
                        "name": "get_title",
                        "in": "query",
                        "type": "number",
                        "description": "Please send 1 if you want get the user Title.",
                        "required": false
                    },
                    {
                        "name": "get_abo_infos",
                        "in": "query",
                        "type": "number",
                        "description": "Please send 1 if you want to get more information about the subscription of the connected user (need to be call only for the connected user !).",
                        "required": false
                    },
                    {
                        "name": "get_picture_430",
                        "in": "query",
                        "type": "number",
                        "description": "Please send 1 if you want get the V2 picture array (this is usefull to know if the use have picture on format 430 x 430px which is not automatic).",
                        "required": false
                    },
                    {
                        "name": "get_wall_news",
                        "in": "query",
                        "type": "number",
                        "description": "Please send 1 if you want get the number of new notifications in My Wall and number of unread message in Chat.",
                        "required": false
                    }
                ],
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "Return an array with all informations about the member. If you require 'get_abo_infos=1', you'll get the 'abo_infos' array containing : the 'description' of the abonment, the 'start_date', the 'end_date', the 'state' (0 or 1) and the 'cacelled' info (1 if the user have cancelled his abonement). ",
                        "schema": {
                            "$ref": "#/definitions/ResultUser"
                        }
                    }
                }
            }
        },
        "/index_api/user/is_online": {
            "post": {
                "summary": "Check is an user is online",
                "description": "Check is an user is online",
                "parameters": [
                    {
                        "name": "pseudo",
                        "in": "query",
                        "type": "string",
                        "description": "Member's Pseudo. You can send an array of pseudo.",
                        "required": true
                    }
                ],
                "tags": [
                    "user is online"
                ],
                "responses": {
                    "200": {
                        "description": "Return is_online = 1 or 0 to know is the user in connected or not. If you sent an array of Pseudo, you'll get another array of pseudo with 1 or 0 to know if each of one are online."
                    }
                }
            }
        },
        "/index_api/user/modify/age_sexe_ville": {
            "post": {
                "summary": "Edit age/city/pass",
                "description": "Allows to modify the pass, birth date, and the city ",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "type": "number",
                        "description": "year of birth of the user.",
                        "required": true
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "type": "number",
                        "description": "month of birth of the user",
                        "required": true
                    },
                    {
                        "name": "day",
                        "in": "query",
                        "type": "number",
                        "description": "day of birth of the user",
                        "required": true
                    },
                    {
                        "name": "pass1",
                        "in": "query",
                        "type": "string",
                        "description": "Pass of the user",
                        "required": false
                    },
                    {
                        "name": "pass2",
                        "in": "query",
                        "type": "number",
                        "description": "confirmation of pass of the user",
                        "required": false
                    },
                    {
                        "name": "id_ville",
                        "in": "query",
                        "type": "number",
                        "description": "ID of the city of user (use the function «getRegionsAutocomp» for getting ID of the city, region, and country)",
                        "required": false
                    },
                    {
                        "name": "countryObj",
                        "in": "query",
                        "type": "number",
                        "description": "ID of the country of user",
                        "required": false
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "type": "number",
                        "description": "ID of the region of user",
                        "required": false
                    }
                ],
                "tags": [
                    "edit age ville mot-de-passe"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une confirmation de la mise à jour, et renvoi un message d'erreur en cas d'échec",
                        "schema": {
                            "$ref": "#/definitions/ResultUserEdit"
                        }
                    }
                }
            }
        },
        "/index_api/user/modify/informations": {
            "post": {
                "summary": "Edit the main information",
                "description": "Allows to modify the main information of the user",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "nom_complet",
                        "in": "query",
                        "type": "string",
                        "description": "name and surname of the user",
                        "required": true
                    },
                    {
                        "name": "opts_body[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "description": "index list corresponding to the table <a href=#OPTIONS_BODY>$OPTIONS_BODY</a> (see annex)",
                        "required": false,
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "taille",
                        "in": "query",
                        "type": "number",
                        "description": "height of the user in sm",
                        "required": false
                    },
                    {
                        "name": "poids",
                        "in": "query",
                        "type": "number",
                        "description": "weight of the user in kg",
                        "required": false
                    },
                    {
                        "name": "yeux",
                        "in": "query",
                        "type": "number",
                        "description": "eyes color (the value corresponds to the index of the table <a href=#YEUX>$YEUX</a>)",
                        "required": false
                    },
                    {
                        "name": "cheveux",
                        "in": "query",
                        "type": "number",
                        "description": "hair color (the value corresponds to the index of the table <a href=#CHEVEUX>$CHEVEUX</a>)",
                        "required": false
                    },
                    {
                        "name": "situation",
                        "in": "query",
                        "type": "number",
                        "description": "Mariital status (index corresponding to the table <a href=#SITUATION>$SITUATION</a> (see annex))",
                        "required": false
                    },
                    {
                        "name": "silhouette",
                        "in": "query",
                        "type": "number",
                        "description": "User's figure (index corresponding to the table <a href=#SILHOUETTE>$SILHOUETTE</a> (see annex))",
                        "required": false
                    },
                    {
                        "name": "personnalite",
                        "in": "query",
                        "type": "number",
                        "description": "index corresponding to the table <a href=#PERSONNALITE>$PERSONNALITE</a> (see annex)",
                        "required": false
                    },
                    {
                        "name": "horaires",
                        "in": "query",
                        "type": "number",
                        "description": "hours of member's connexion (index corresponding to the table <a href=#HORAIRES>$HORAIRES</a> (see annex))",
                        "required": false
                    },
                    {
                        "name": "sexe2",
                        "in": "query",
                        "type": "number",
                        "description": "sexual orientation (1 => hetero, 2 => gay, 3 => bi)",
                        "required": false
                    },
                    {
                        "name": "child",
                        "in": "query",
                        "type": "number",
                        "description": "number of children of the user",
                        "required": false
                    },
                    {
                        "name": "etudes",
                        "in": "query",
                        "type": "number",
                        "description": "education level of the user (index corresponding to the table <a href=#ETUDES>$ETUDES</a> (see annex))",
                        "required": false
                    },
                    {
                        "name": "travail",
                        "in": "query",
                        "type": "number",
                        "description": "user's profession (job) (index corresponding to the table <a href=#TRAVAIL>$TRAVAIL</a> (see annex))",
                        "required": false
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "type": "number",
                        "description": "email address of the user",
                        "required": false
                    },
                    {
                        "name": "lang_ui",
                        "in": "query",
                        "type": "string",
                        "description": "language of the user",
                        "required": false
                    }
                ],
                "tags": [
                    "edit informations"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une confirmation de la mise à jour, et renvoi un message d'erreur en cas d'échec",
                        "schema": {
                            "$ref": "#/definitions/ResultUserEdit"
                        }
                    }
                }
            }
        },
        "/index_api/user/modify/description": {
            "post": {
                "summary": "Edit the main information",
                "description": "Allows to modify the description of the user",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "type": "string",
                        "description": "description of the user",
                        "required": true
                    }
                ],
                "tags": [
                    "edit description"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une confirmation de la mise à jour, et renvoi un message d'erreur en cas d'échec",
                        "schema": {
                            "$ref": "#/definitions/ResultUserEdit"
                        }
                    }
                }
            }
        },
        "/index_api/user/modify/wanttomeet": {
            "post": {
                "summary": "Edit the dating wishes",
                "description": "Allows to modify dating wished (partner's gender, dating objectif, and other) ",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "cherche1",
                        "in": "query",
                        "type": "number",
                        "description": "gender of partner searched (1 => male,  2 => female,  3  => couple)",
                        "required": false
                    },
                    {
                        "name": "pour",
                        "in": "query",
                        "type": "number",
                        "description": "index corresponding to the table <a href=#POUR>$POUR</a> (see annex)",
                        "required": false
                    },
                    {
                        "name": "rencontre_detail",
                        "in": "query",
                        "type": "string",
                        "description": "additionnal detail entered by the user",
                        "required": false
                    },
                    {
                        "name": "with_age[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "description": "Age groups of the partner searched. The values are corresponding to the id of <a href=#AGE_RANGE>$AGE_RANGE</a> (see annex)",
                        "required": false,
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "often",
                        "in": "query",
                        "type": "number",
                        "description": "Frequency desired of having sex. Index corresponding to the table <a href=#OFTEN_SEXE>$OFTEN_SEXE</a> (see annex)",
                        "required": false
                    }
                ],
                "tags": [
                    "edit souhait rencontre"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une confirmation de la mise à jour, et renvoi un message d'erreur en cas d'échec",
                        "schema": {
                            "$ref": "#/definitions/ResultUserEdit"
                        }
                    }
                }
            }
        },
        "/index_api/user/modify/rdv": {
            "post": {
                "summary": "Edit Real meetings",
                "description": "Allows to modify the zone of Real meetings (rendez-vous réels)",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "meet_whom[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "description": "Genders of members searched for a meeting (the values are corresponding to the index of <a href=#SEXE>$SEXE</a> (see annex))",
                        "required": true,
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "meet_ages[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "description": "Age groups of members searched for a meeting (the values are corresponding to the id <a href=#AGE_RANGE>$AGE_RANGE</a> (see annex))",
                        "required": true,
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "meet_day[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of days available for a meeting (in format DATE YYYY-MM-DD)",
                        "required": true,
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "meet_for[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "description": "List of objectives for a meeting (the values are corresponding to the indexes of <a href=#MEET_FOR>$MEET_FOR</a> (see annex))",
                        "required": true,
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "at_time[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "description": "Hours available for a meeting (the values are corresponding to the indexes of <a href=#HORAIRES>$HORAIRES</a> (see annex))",
                        "required": false,
                        "collectionFormat": "multi"
                    }
                ],
                "tags": [
                    "edit rdv"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une confirmation de la mise à jour, et renvoi un message d'erreur en cas d'échec",
                        "schema": {
                            "$ref": "#/definitions/ResultUserEdit"
                        }
                    }
                }
            }
        },
        "/index_api/user/modify/interests": {
            "post": {
                "summary": "Edit sexual preferences",
                "description": "Allows to modify the zone of Sexual preferencies (Préférences sexuelles)",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "inter[]",
                        "in": "query",
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "description": "List of sexual preferencies (The values are corresponding to the indexes of <a href=#USER_INTERESTS>$USER_INTERESTS</a> (see annex))",
                        "required": false,
                        "collectionFormat": "multi"
                    }
                ],
                "tags": [
                    "edit préférences sexuelles"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne une confirmation de la mise à jour, et renvoi un message d'erreur en cas d'échec",
                        "schema": {
                            "$ref": "#/definitions/ResultUserEdit"
                        }
                    }
                }
            }
        },
        "/index_api/guest/get/visites": {
            "post": {
                "summary": "Page my guests (mes visiteurs)",
                "description": "Allows to get the list of members who visited the profile of the connected user  ",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "number",
                        "description": "Selected page ( 0 is the first page, 1 is the second page, ...)."
                    }
                ],
                "tags": [
                    "mes visiteurs"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne la liste des membres qui ont visité le profil de l'utilisateur",
                        "schema": {
                            "$ref": "#/definitions/ResultGuestVisites"
                        }
                    }
                }
            }
        },
        "/index_api/guest/get/votes": {
            "post": {
                "summary": "Page My votes (mes votes)",
                "description": "Allows to get the list of users who voted for the photos of the connected user ",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "type": "string",
                        "description": "user session ID returned by function «login» ",
                        "required": true
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "number",
                        "description": "Selected page ( 0 is the first page, 1 is the second page, ...)."
                    }
                ],
                "tags": [
                    "mes votes"
                ],
                "responses": {
                    "200": {
                        "description": "Retourne la liste des membres qui ont votés",
                        "schema": {
                            "$ref": "#/definitions/ResultGuestVotes"
                        }
                    }
[...]
